{% extends 'base.html.twig' %}

{% block title %}{{ product.name }}{% endblock %}

{% block content %}
<div class="product-detail">
    <h1>{{ product.name }}</h1>
    <span class="badge">{{ product.category.name }}</span>
    <div class="price">{{ product.price }} DH</div>
    <div class="description">{{ product.description }}</div>
    <a class="btn" href="/cart/add/{{ product.id }}">🛒 Add to Cart</a>
    <a class="back-link" href="/categories">← Back to Categories</a>
</div>
{% endblock %}
